@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid white;
}

body {
  color: white;
  background-color: #0b0f1a;
  /* font-family: "Montserrat", sans-serif; */
}

body::-webkit-scrollbar {
  @apply w-1 bg-transparent;
}

body::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

body::-webkit-scrollbar-track {
  /* @apply bg-main; */
}

body::-webkit-scrollbar-track-piece {
  @apply bg-transparent;
}

body::-webkit-scrollbar-thumb {
  @apply transition-all duration-500 
  /* rounded-full bg-dark hover:bg-dark/60; */;
}

body:has(main) {
  @apply bg-black py-6
}

h1 {
  font-family: var(--font-champion-gothic-mono);
  font-size: clamp(24rem, 28.3vw, 36rem);
}

@layer components {
  .about-head {
    @apply uppercase text-center leading-[0.85] font-black;
  }

  .about-text {
    font-family: var(--font-neuemontreal-regular);
    font-size: clamp(1rem, 1.5vw, 1.5rem);
  }
}
